In [7]:
import pandas as pd

# 파일 경로 리스트 지정
file_paths = [
    'data/(길단위인구-상권).csv',
    'data/(상주인구-상권).csv',
    'data/(직장인구-상권).csv',
    'data/(소득소비-상권).csv',
    'data/(집객시설-상권).csv'
]

# 각 파일을 불러와서 데이터프레임으로 저장
dataframes = [pd.read_csv(file, encoding='cp949') for file in file_paths]

# 데이터프레임 확인
for i, df in enumerate(dataframes):
    print(f"데이터프레임 {i + 1}:")
    print(df.head())
    print("\n")

데이터프레임 1:
   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드                 상권_코드_명  총_유동인구_수  \
0      20233        U       관광특구  3001496             강남 마이스 관광특구    116820
1      20233        U       관광특구  3001495                 잠실 관광특구   4005509
2      20233        U       관광특구  3001494              종로?청계 관광특구   8353018
3      20233        U       관광특구  3001493            동대문패션타운 관광특구   3189182
4      20233        U       관광특구  3001492  명동 남대문 북창동 다동 무교동 관광특구   6822274

   남성_유동인구_수  여성_유동인구_수  연령대_10_유동인구_수  연령대_20_유동인구_수  ...  시간대_14_17_유동인구_수  \
0      56546      60274           9741          24430  ...             28982
1    1937145    2068365         413439         892838  ...            633309
2    4439304    3913714         321655        1531086  ...           1773540
3    1510236    1678946         173200         566457  ...            480423
4    3317776    3504498         284079        1188425  ...           1665421

   시간대_17_21_유동인구_수  시간대_21_24_유동인구_수  월요일_유동인구_수  화요일_유동인구_수  수요일_유동인구_수  \
0             24541              6292       16713       17686       18378
1            864839            465448      566137      566857      573760
2           1659889            647989     1344871     1344464     1353279
3            562444            384970      505715      509594      510428
4           1296312            342464     1117683     1129837     1153089

   목요일_유동인구_수  금요일_유동인구_수  토요일_유동인구_수  일요일_유동인구_수
0       18560       18293       14662       12527
1      570159      579731      595722      553142
2     1316337     1316317      962386      715364
3      496596      464684      354613      347552
4     1116744     1090865      678392      535663

[5 rows x 27 columns]


데이터프레임 2:
   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드             상권_코드_명  총_상주인구_수  \
0      20194        D       발달상권  3120021              시청역_8번        26
1      20194        D       발달상권  3120022         북창동(시청역_6번)       261
2      20194        D       발달상권  3120023                서울시청        19
3      20194        D       발달상권  3120024                 회현역      1740
4      20194        D       발달상권  3120025  롯데백화점(시청광장 지하쇼핑센터)         1

   남성_상주인구_수  여성_상주인구_수  연령대_10_상주인구_수  연령대_20_상주인구_수  ...  \
0         16         10              0              2  ...
1        167         94              2             21  ...
2         10          9              2              0  ...
3        902        838            100            136  ...
4          1          0              0              0  ...

   남성연령대_60_이상_상주인구_수  여성연령대_10_상주인구_수  여성연령대_20_상주인구_수  여성연령대_30_상주인구_수  \
0                  10                0                0                2
1                  70                2               10                9
2                   6                2                0                0
3                 424               56               72               74
4                   1                0                0                0

   여성연령대_40_상주인구_수  여성연령대_50_상주인구_수  여성연령대_60_이상_상주인구_수  총_가구_수  아파트_가구_수  \
0                0                2                   6      15         0
1                7               23                  43     237         0
2                1                3                   3      14         0
3               91              127                 418    1172         0
4                0                0                   0       1         0

   비_아파트_가구_수
0          15
1         237
2          14
3        1172
4           1

[5 rows x 29 columns]


데이터프레임 3:
   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드               상권_코드_명  총_직장_인구_수  \
0      20191        A       골목상권  3110013              체부동홍종문가옥         87
1      20191        D       발달상권  3120062                  신설동역      11307
2      20191        A       골목상권  3110023                 서울대병원        131
3      20191        R       전통시장  3130011                  충신시장        342
4      20191        R       전통시장  3130018  동대문문구완구거리(동대문문구완구시장)        271

   남성_직장_인구_수  여성_직장_인구_수  연령대_10_직장_인구_수  연령대_20_직장_인구_수  ...  \
0          57          30               0              11  ...
1        4711        6596              32            1358  ...
2          46          85               3              34  ...
3         201         141               4              76  ...
4         166         105               0              20  ...

   남성연령대_30_직장_인구_수  남성연령대_40_직장_인구_수  남성연령대_50_직장_인구_수  남성연령대_60_이상_직장_인구_수  \
0                18                14                13                   10
1              1343              1338               898                  681
2                 6                 9                10                   12
3                72                47                30                   10
4                40                45                40                   31

   여성연령대_10_직장_인구_수  여성연령대_20_직장_인구_수  여성연령대_30_직장_인구_수  여성연령대_40_직장_인구_수  \
0                 0                 9                 7                 6
1                20               919              1300              2039
2                 1                27                10                18
3                 1                37                35                40
4                 0                10                15                29

   여성연령대_50_직장_인구_수  여성연령대_60_이상_직장_인구_수
0                 6                    2
1              1677                  641
2                23                    6
3                24                    4
4                26                   25

[5 rows x 26 columns]


데이터프레임 4:
   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명  월_평균_소득_금액  소득_구간_코드  \
0      20231        A       골목상권  3110011    청운초등학교   4237174.0       8.0
1      20231        A       골목상권  3110012     성곡미술관   5448355.0       9.0
2      20231        A       골목상권  3110013  체부동홍종문가옥   3732442.0       7.0
3      20231        A       골목상권  3110014    경복고등학교   5290159.0       9.0
4      20231        A       골목상권  3110015    청와대사랑채   3980058.0       8.0

         지출_총금액   식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액   의료비_지출_총금액  \
0  2.849605e+08   72815096.0    33939883.0   20375958.0   37447312.0
1  1.224738e+09  273854172.0   152375434.0   97840852.0  143955451.0
2  1.901093e+08   47549857.0    23715458.0   14588549.0   23273330.0
3  2.466283e+08   60033663.0    29847166.0   17931705.0   30512782.0
4  3.406544e+08   82062934.0    41584595.0   24596132.0   41047707.0

     교통_지출_총금액   여가_지출_총금액   문화_지출_총금액    교육_지출_총금액   유흥_지출_총금액
0   48549219.0   9846527.0   8188528.0   41677963.0  12119990.0
1  223172184.0  55335090.0  34182648.0  193085753.0  50936827.0
2   31499997.0   8440927.0   5717126.0   27452725.0   7871309.0
3   42137551.0   9425497.0   7095605.0   39330058.0  10314243.0
4   58114084.0  13813568.0   9787602.0   55694208.0  13953620.0


데이터프레임 5:
   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드          상권_코드_명  집객시설_수  관공서_수  \
0      20232        A       골목상권  3110006          부암동주민센터       3    1.0
1      20233        A       골목상권  3110006          부암동주민센터       3    1.0
2      20231        A       골목상권  3110007  사직공원(한국사회과학도서관)      12    1.0
3      20232        A       골목상권  3110007  사직공원(한국사회과학도서관)      12    1.0
4      20233        A       골목상권  3110007  사직공원(한국사회과학도서관)      12    1.0

   은행_수  종합병원_수  일반_병원_수  ...  대학교_수  백화점_수  슈퍼마켓_수  극장_수  숙박_시설_수  공항_수  \
0   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
1   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
2   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
3   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
4   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN

   철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
0     NaN       NaN      NaN       1.0
1     NaN       NaN      NaN       1.0
2     NaN       NaN      NaN       5.0
3     NaN       NaN      NaN       5.0
4     NaN       NaN      NaN       5.0

[5 rows x 25 columns]

In [10]:
import pandas as pd

# 파일 경로 리스트 지정
file_paths = [
    'data/(길단위인구-상권).csv',
    'data/(상주인구-상권).csv',
    'data/(소득소비-상권).csv',
    'data/(직장인구-상권).csv',
    'data/(집객시설-상권).csv'
]

# 각 파일을 불러와서 데이터프레임으로 저장
dataframes = [pd.read_csv(file, encoding='cp949') for file in file_paths]

# 데이터프레임에서 기준_년분기_코드가 '2022'인 행만 추출
dataframes_2022 = [df[df['기준_년분기_코드'].astype(str).str.contains('2022')] for df in dataframes]

# 추출된 데이터프레임 확인
for i, df_2022 in enumerate(dataframes_2022):
    print(f"2022년 데이터프레임 {i + 1}:")
    print(df_2022.head())
    print("\n")

2022년 데이터프레임 1:
      기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드                 상권_코드_명  \
4947      20224        U       관광특구  3001496             강남 마이스 관광특구
4948      20224        U       관광특구  3001495                 잠실 관광특구
4949      20224        U       관광특구  3001494              종로?청계 관광특구
4950      20224        U       관광특구  3001493            동대문패션타운 관광특구
4951      20224        U       관광특구  3001492  명동 남대문 북창동 다동 무교동 관광특구

      총_유동인구_수  남성_유동인구_수  여성_유동인구_수  연령대_10_유동인구_수  연령대_20_유동인구_수  ...  \
4947    113561      56267      57295           8423          23526  ...
4948   4179934    2015767    2164168         490222         895245  ...
4949   8657826    4693188    3964638         334742        1500979  ...
4950   3418870    1617046    1801825         182494         618819  ...
4951   7629595    3717728    3911867         365427        1301955  ...

      시간대_14_17_유동인구_수  시간대_17_21_유동인구_수  시간대_21_24_유동인구_수  월요일_유동인구_수  \
4947             27583             24323              6411       15349
4948            692222            918306            473577      571728
4949           1861965           1729022            685015     1272457
4950            512176            587790            412248      520582
4951           1851308           1478804            408233     1103048

      화요일_유동인구_수  수요일_유동인구_수  목요일_유동인구_수  금요일_유동인구_수  토요일_유동인구_수  일요일_유동인구_수
4947       17220       18047       18597       18288       13967       12091
4948      588228      595830      598401      615406      633869      576473
4949     1381468     1386192     1396528     1396973     1047401      776808
4950      540938      546081      547095      512377      377450      374347
4951     1241705     1251450     1267499     1240066      864591      661235

[5 rows x 27 columns]


2022년 데이터프레임 2:
       기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명  총_상주인구_수  남성_상주인구_수  \
11747      20221        A       골목상권  3110555     홍익지구대       255        117
11748      20221        A       골목상권  3110556   절두산순교성지       969        458
11749      20221        A       골목상권  3110557  홍대부속여중고앞      3220       1462
11750      20221        A       골목상권  3110558    경성고등학교      8597       4089
11751      20221        A       골목상권  3110559     성산중학교      2482       1154

       여성_상주인구_수  연령대_10_상주인구_수  연령대_20_상주인구_수  ...  남성연령대_60_이상_상주인구_수  \
11747        138             25             50  ...                  22
11748        511             71            177  ...                 107
11749       1758            348            580  ...                 245
11750       4508            941           1502  ...                 841
11751       1328            207            503  ...                 222

       여성연령대_10_상주인구_수  여성연령대_20_상주인구_수  여성연령대_30_상주인구_수  여성연령대_40_상주인구_수  \
11747                9               32               31               21
11748               40               92               96               69
11749              178              325              339              333
11750              468              783              805              679
11751              102              273              267              183

       여성연령대_50_상주인구_수  여성연령대_60_이상_상주인구_수  총_가구_수  아파트_가구_수  비_아파트_가구_수
11747               17                  28     130         0         130
11748               75                 139     540         0         540
11749              244                 339    1775         0        1775
11750              672                1101    4349         0        4349
11751              177                 326    1347         0        1347

[5 rows x 29 columns]


2022년 데이터프레임 3:
       기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드  상권_코드_명  월_평균_소득_금액  소득_구간_코드  \
24403      20221        A       골목상권  3110001   이북5도청사   4354652.0       8.0
24404      20221        A       골목상권  3110002  독립문역 1번   3463885.0       7.0
24405      20221        A       골목상권  3110003  세검정초등학교   3474789.0       7.0
24406      20221        A       골목상권  3110004   대신고등학교   2644953.0       6.0
24407      20221        A       골목상권  3110005      세검정   3768541.0       8.0

             지출_총금액   식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액   의료비_지출_총금액  \
24403  5.204276e+08  129126028.0    64853632.0   37122367.0   65974602.0
24404  2.324652e+08   54998987.0    28932090.0   17084860.0   28271372.0
24405  1.349699e+09  336704220.0   166150296.0   98720958.0  170559024.0
24406  7.127728e+08  205649728.0    84170011.0   51668351.0  100817261.0
24407  8.847016e+08  221446948.0   109882417.0   64738346.0  111988892.0

         교통_지출_총금액   여가_지출_총금액   문화_지출_총금액    교육_지출_총금액   유흥_지출_총금액
24403   88343761.0  22223650.0  14656697.0   76185341.0  21941557.0
24404   40933079.0  10180461.0   6575012.0   35805283.0   9684061.0
24405  227367090.0  54707608.0  39088030.0  199219764.0  57182240.0
24406  111843712.0  23406627.0  22615164.0   82865155.0  29736776.0
24407  149822911.0  37478670.0  25606895.0  126544371.0  37192149.0


2022년 데이터프레임 4:
      기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명  총_직장_인구_수  남성_직장_인구_수  \
3447      20221        D       발달상권  3120007   북촌(안국역)      10443        8282
3448      20221        A       골목상권  3110018    중앙고등학교        829         408
3449      20221        A       골목상권  3110006   부암동주민센터         27          16
3450      20221        A       골목상권  3110012     성곡미술관       1042         489
3451      20221        D       발달상권  3120002  서촌(경복궁역)       1989        1071

      여성_직장_인구_수  연령대_10_직장_인구_수  연령대_20_직장_인구_수  ...  남성연령대_30_직장_인구_수  \
3447        2161               8            1148  ...              2891
3448         421               0              92  ...                55
3449          11               0               2  ...                 5
3450         553               0             260  ...               152
3451         918              37             487  ...               387

      남성연령대_40_직장_인구_수  남성연령대_50_직장_인구_수  남성연령대_60_이상_직장_인구_수  \
3447              2647              1702                  393
3448               100                80                  146
3449                 2                 3                    4
3450               149                69                   49
3451               258               131                  105

      여성연령대_10_직장_인구_수  여성연령대_20_직장_인구_수  여성연령대_30_직장_인구_수  여성연령대_40_직장_인구_수  \
3447                 3               504               745               535
3448                 0                65               111               109
3449                 0                 0                 2                 5
3450                 0               190               177               111
3451                37               297               287               163

      여성연령대_50_직장_인구_수  여성연령대_60_이상_직장_인구_수
3447               262                  112
3448                80                   56
3449                 2                    2
3450                42                   33
3451                90                   44

[5 rows x 26 columns]


2022년 데이터프레임 5:
      기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드          상권_코드_명  집객시설_수  관공서_수  \
4720      20224        A       골목상권  3110008  배화여자대학교(박노수미술관)       9    NaN
4721      20223        A       골목상권  3110008  배화여자대학교(박노수미술관)       9    NaN
4722      20222        A       골목상권  3110008  배화여자대학교(박노수미술관)       9    NaN
4723      20221        A       골목상권  3110008  배화여자대학교(박노수미술관)       9    NaN
4729      20224        A       골목상권  3110009            자하문터널       3    NaN

      은행_수  종합병원_수  일반_병원_수  ...  대학교_수  백화점_수  슈퍼마켓_수  극장_수  숙박_시설_수  공항_수  \
4720   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
4721   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
4722   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
4723   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN
4729   NaN     NaN      NaN  ...    NaN    NaN     NaN   NaN      NaN   NaN

      철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
4720     NaN       NaN      NaN       4.0
4721     NaN       NaN      NaN       4.0
4722     NaN       NaN      NaN       4.0
4723     NaN       NaN      NaN       4.0
4729     NaN       NaN      NaN       3.0

[5 rows x 25 columns]

In [11]:
for i, df_2022 in enumerate(dataframes_2022):
    # CSV 파일로 저장
    output_file_path = f'2022년_데이터_{i + 1}.csv'
    df_2022.to_csv(output_file_path, index=False)

    print(f"'{output_file_path}' 파일로 저장 완료")

# 파일명 변경 & 파일 위치 이동

'2022년_데이터_1.csv' 파일로 저장 완료
'2022년_데이터_2.csv' 파일로 저장 완료
'2022년_데이터_3.csv' 파일로 저장 완료
'2022년_데이터_4.csv' 파일로 저장 완료
'2022년_데이터_5.csv' 파일로 저장 완료

In [21]:
# '서비스_업종_코드_명'이 '편의점'인 행만 추출
convenience_store_data = data[data['서비스_업종_코드_명'] == '편의점']

# 추출된 데이터프레임을 CSV 파일로 저장
output_file_path = 'data/(추정매출-상권)_2022_편의점.csv'
convenience_store_data.to_csv(output_file_path, index=False, encoding='cp949')

print(f"Data with '서비스_업종_코드_명' as '편의점' has been saved to {output_file_path}.")

Data with '서비스_업종_코드_명' as '편의점' has been saved to data/(추정매출-상권)_2022_편의점.csv.

In [24]:
import pandas as pd

# 파일 경로 리스트 지정
file_paths = [
    'data/(길단위인구-상권)_2022.csv',
    'data/(상주인구-상권)_2022.csv',
    'data/(소득소비-상권)_2022.csv',
    'data/(직장인구-상권)_2022.csv',
    'data/(집객시설-상권)_2022.csv',
]

# 각 파일을 불러와서 데이터프레임으로 저장
dataframes = [pd.read_csv(file, encoding='utf-8') for file in file_paths]

# 결측치 확인
for i, df in enumerate(dataframes):
    print(f"결측치 확인 - 데이터프레임 {i + 1}:")
    print(df.isnull().sum())
    print("\n")

결측치 확인 - 데이터프레임 1:
기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64


결측치 확인 - 데이터프레임 2:
기준_년분기_코드             0
상권_구분_코드              0
상권_구분_코드_명            0
상권_코드                 0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64


결측치 확인 - 데이터프레임 3:
기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액       36
소득_구간_코드         36
지출_총금액          140
식료품_지출_총금액      140
의류_신발_지출_총금액    140
생활용품_지출_총금액     140
의료비_지출_총금액      140
교통_지출_총금액       140
여가_지출_총금액       140
문화_지출_총금액       140
교육_지출_총금액       140
유흥_지출_총금액       140
dtype: int64


결측치 확인 - 데이터프레임 4:
기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64


결측치 확인 - 데이터프레임 5:
기준_년분기_코드        0
상권_구분_코드         0
상권_구분_코드_명       0
상권_코드            0
상권_코드_명          0
집객시설_수           0
관공서_수         3792
은행_수          4364
종합병원_수        6220
일반_병원_수       5784
약국_수          2276
유치원_수         5708
초등학교_수        6260
중학교_수         6296
고등학교_수        6268
대학교_수         5976
백화점_수         6268
슈퍼마켓_수        5892
극장_수          5976
숙박_시설_수       5732
공항_수          6308
철도_역_수        6312
버스_터미널_수      6304
지하철_역_수       5532
버스_정거장_수      1232
dtype: int64

In [36]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/(추정매출-상권)_2022_편의점.csv'
file_path2 = 'data/(강남구-상권).csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드           상권_코드_명 서비스_업종_코드  \
0      20221        A       골목상권  3110967            역삼역 8번  CS300002
1      20221        D       발달상권  3120197               역삼역  CS300002
2      20221        A       골목상권  3110972  강남세브란스병원미래의학연구센터  CS300002
3      20221        A       골목상권  3110992            도곡초등학교  CS300002
4      20221        A       골목상권  3110975            매봉역 1번  CS300002

  서비스_업종_코드_명     당월_매출_금액  당월_매출_건수     주중_매출_금액  ...  연령대_40_매출_건수  \
0         편의점    152968591     19203    109788599  ...          3300
1         편의점  15857339315   2210890  13247849536  ...        469621
2         편의점    225099761     25735    165237175  ...          6054
3         편의점   1246479736    223628    869573349  ...         65751
4         편의점   1016999038    147075    732234572  ...         29793

   연령대_50_매출_건수  연령대_60_이상_매출_건수  엑스좌표_값  와이좌표_값  자치구_코드  자치구_코드_명    행정동_코드  \
0          1938              675  203374  445011   11680       강남구  11680640
1        250279           115853  203179  444549   11680       강남구  11680640
2          2524              786  203759  443901   11680       강남구  11680650
3         53413            11470  205007  444509   11680       강남구  11680630
4         23908            11018  203984  443063   11680       강남구  11680655

   행정동_코드_명   영역_면적
0      역삼1동   68672
1      역삼1동  562807
2      역삼2동   46603
3      대치4동  138866
4      도곡1동   52363

[5 rows x 62 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적]
Index: []

[0 rows x 62 columns]

In [4]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data.csv'
file_path2 = 'data/(길단위인구-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data2_data.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드           상권_코드_명 서비스_업종_코드  \
0      20221        A       골목상권  3110967            역삼역 8번  CS300002
1      20221        D       발달상권  3120197               역삼역  CS300002
2      20221        A       골목상권  3110972  강남세브란스병원미래의학연구센터  CS300002
3      20221        A       골목상권  3110992            도곡초등학교  CS300002
4      20221        A       골목상권  3110975            매봉역 1번  CS300002

  서비스_업종_코드_명     당월_매출_금액  당월_매출_건수     주중_매출_금액  ...  시간대_14_17_유동인구_수  \
0         편의점    152968591     19203    109788599  ...            100491
1         편의점  15857339315   2210890  13247849536  ...            868827
2         편의점    225099761     25735    165237175  ...             42675
3         편의점   1246479736    223628    869573349  ...            246998
4         편의점   1016999038    147075    732234572  ...             41813

   시간대_17_21_유동인구_수  시간대_21_24_유동인구_수  월요일_유동인구_수  화요일_유동인구_수  수요일_유동인구_수  \
0            111100             70426      101250      101770      102660
1            829977            348354      717178      708924      707702
2             45692             39587       52098       51236       51972
3            368379            259135      275481      276185      281596
4             51503             29127       40661       39965       40211

   목요일_유동인구_수  금요일_유동인구_수  토요일_유동인구_수  일요일_유동인구_수
0      106969      104967       78514       77363
1      765739      727081      401788      341519
2       52588       52294       46827       47549
3      282497      285384      312484      305991
4       41207       40650       36392       35441

[5 rows x 84 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수]
Index: []

[0 rows x 84 columns]

In [6]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data2_data.csv'
file_path2 = 'data/(상주인구-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data3.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드           상권_코드_명 서비스_업종_코드  \
0      20221        A       골목상권  3110967            역삼역 8번  CS300002
1      20221        D       발달상권  3120197               역삼역  CS300002
2      20221        A       골목상권  3110972  강남세브란스병원미래의학연구센터  CS300002
3      20221        A       골목상권  3110992            도곡초등학교  CS300002
4      20221        A       골목상권  3110975            매봉역 1번  CS300002

  서비스_업종_코드_명     당월_매출_금액  당월_매출_건수     주중_매출_금액  ...  남성연령대_60_이상_상주인구_수  \
0         편의점    152968591     19203    109788599  ...                  85
1         편의점  15857339315   2210890  13247849536  ...                 410
2         편의점    225099761     25735    165237175  ...                 174
3         편의점   1246479736    223628    869573349  ...                 528
4         편의점   1016999038    147075    732234572  ...                 117

   여성연령대_10_상주인구_수  여성연령대_20_상주인구_수  여성연령대_30_상주인구_수  여성연령대_40_상주인구_수  \
0               51              126              185              130
1              199              905              893              381
2              112              188              237              164
3              677              622              615              932
4               63               66               64               65

   여성연령대_50_상주인구_수  여성연령대_60_이상_상주인구_수  총_가구_수  아파트_가구_수  비_아파트_가구_수
0               72                 100     864         0         864
1              242                 384    4337         0        4337
2              141                 210    1003         0        1003
3              673                 699    3681         0        3681
4               89                 126     353         0         353

[5 rows x 108 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 108 columns]

In [7]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data3.csv'
file_path2 = 'data/(소득소비-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data4.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드           상권_코드_명 서비스_업종_코드  \
0      20221        A       골목상권  3110967            역삼역 8번  CS300002
1      20221        D       발달상권  3120197               역삼역  CS300002
2      20221        A       골목상권  3110972  강남세브란스병원미래의학연구센터  CS300002
3      20221        A       골목상권  3110992            도곡초등학교  CS300002
4      20221        A       골목상권  3110975            매봉역 1번  CS300002

  서비스_업종_코드_명     당월_매출_금액  당월_매출_건수     주중_매출_금액  ...        지출_총금액  \
0         편의점    152968591     19203    109788599  ...  9.240424e+08
1         편의점  15857339315   2210890  13247849536  ...  3.212598e+09
2         편의점    225099761     25735    165237175  ...  1.056500e+09
3         편의점   1246479736    223628    869573349  ...  3.923283e+09
4         편의점   1016999038    147075    732234572  ...  5.391315e+08

    식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액   의료비_지출_총금액    교통_지출_총금액  \
0  224952107.0   115536448.0   76369089.0  102770714.0  161460500.0
1  761484722.0   412431727.0  282783645.0  348687928.0  558361252.0
2  254740419.0   134175063.0   81321927.0  123322133.0  178787715.0
3  937593874.0   478638464.0  275807739.0  431995113.0  651824652.0
4  124174281.0    69799635.0   42314956.0   65539115.0   99775071.0

     여가_지출_총금액    문화_지출_총금액    교육_지출_총금액    유흥_지출_총금액
0   34563514.0   30835550.0  135933064.0   41621450.0
1  141763838.0  107017811.0  456049389.0  144017439.0
2   42928274.0   33632233.0  160413862.0   47178758.0
3  129811783.0  117895983.0  725606753.0  174108689.0
4   26420143.0   15291036.0   72250248.0   23567032.0

[5 rows x 120 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 120 columns]

In [8]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data4.csv'
file_path2 = 'data/(직장인구-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data5.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드           상권_코드_명 서비스_업종_코드  \
0      20221        A       골목상권  3110967            역삼역 8번  CS300002
1      20221        D       발달상권  3120197               역삼역  CS300002
2      20221        A       골목상권  3110972  강남세브란스병원미래의학연구센터  CS300002
3      20221        A       골목상권  3110992            도곡초등학교  CS300002
4      20221        A       골목상권  3110975            매봉역 1번  CS300002

  서비스_업종_코드_명     당월_매출_금액  당월_매출_건수     주중_매출_금액  ...  남성연령대_30_직장_인구_수  \
0         편의점    152968591     19203    109788599  ...                51
1         편의점  15857339315   2210890  13247849536  ...             11924
2         편의점    225099761     25735    165237175  ...               428
3         편의점   1246479736    223628    869573349  ...               253
4         편의점   1016999038    147075    732234572  ...              1161

   남성연령대_40_직장_인구_수  남성연령대_50_직장_인구_수  남성연령대_60_이상_직장_인구_수  여성연령대_10_직장_인구_수  \
0                60                56                   30                 0
1             11872              7083                 2442                50
2               438               258                   72                13
3               258               260                  264                 2
4              2184              2402                  154                13

   여성연령대_20_직장_인구_수  여성연령대_30_직장_인구_수  여성연령대_40_직장_인구_수  여성연령대_50_직장_인구_수  \
0                32                41                29                36
1              4864              6141              4025              3757
2               299               241               254               323
3               161               187               226               264
4              1165              1038              1018               617

   여성연령대_60_이상_직장_인구_수
0                   11
1                 1301
2                   58
3                  195
4                   54

[5 rows x 141 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 141 columns]

In [13]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data5.csv'
file_path2 = 'data/(집객시설-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_final_data.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드           상권_코드_명 서비스_업종_코드  \
0      20221        A       골목상권  3110967            역삼역 8번  CS300002
1      20221        D       발달상권  3120197               역삼역  CS300002
2      20221        A       골목상권  3110972  강남세브란스병원미래의학연구센터  CS300002
3      20221        A       골목상권  3110992            도곡초등학교  CS300002
4      20221        A       골목상권  3110975            매봉역 1번  CS300002

  서비스_업종_코드_명     당월_매출_금액  당월_매출_건수     주중_매출_금액  ...  대학교_수  백화점_수  슈퍼마켓_수  \
0         편의점    152968591     19203    109788599  ...    NaN    NaN     NaN
1         편의점  15857339315   2210890  13247849536  ...    NaN    NaN     NaN
2         편의점    225099761     25735    165237175  ...    1.0    NaN     NaN
3         편의점   1246479736    223628    869573349  ...    NaN    NaN     NaN
4         편의점   1016999038    147075    732234572  ...    NaN    NaN     NaN

   극장_수  숙박_시설_수  공항_수  철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
0   NaN      NaN   NaN     NaN       NaN      NaN       NaN
1   NaN      NaN   NaN     NaN       NaN      1.0       7.0
2   NaN      NaN   NaN     NaN       NaN      NaN       NaN
3   NaN      NaN   NaN     NaN       NaN      NaN       NaN
4   NaN      NaN   NaN     NaN       NaN      1.0       3.0

[5 rows x 161 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 161 columns]

In [10]:
# 행의 갯수가 241 => 233으로 줄은 것을 확인할 수 있음

In [21]:
import pandas as pd

# 파일 경로
file_path_data5 = 'data/merged_data5.csv'
file_path_final_data = 'data/merged_final_data.csv'

# CSV 파일 불러오기
data5 = pd.read_csv(file_path_data5)
final_data = pd.read_csv(file_path_final_data)

# 행 개수 비교
num_rows_data5 = len(data5)
num_rows_final_data = len(final_data)

# 결과 출력
print(f"merged_data5.csv 행 개수: {num_rows_data5}")
print(f"merged_final_data.csv 행 개수: {num_rows_final_data}")
print(f"행 차이: {num_rows_data5 - num_rows_final_data}")

merged_data5.csv 행 개수: 241
merged_final_data.csv 행 개수: 233
행 차이: 8

In [24]:
import pandas as pd

# 두 데이터프레임 간의 차이 확인
diff_df = pd.concat([data5, final_data]).drop_duplicates(keep=False)

# 결과 출력
print("두 데이터프레임 간의 차이:")
print(diff_df)

두 데이터프레임 간의 차이:
     기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드           상권_코드_명 서비스_업종_코드  \
0        20221        A       골목상권  3110967            역삼역 8번  CS300002
1        20221        D       발달상권  3120197               역삼역  CS300002
2        20221        A       골목상권  3110972  강남세브란스병원미래의학연구센터  CS300002
3        20221        A       골목상권  3110992            도곡초등학교  CS300002
4        20221        A       골목상권  3110975            매봉역 1번  CS300002
..         ...      ...        ...      ...               ...       ...
228      20224        D       발달상권  3120193           도산공원교차로  CS300002
229      20224        A       골목상권  3110949              한남IC  CS300002
230      20224        D       발달상권  3120206            개나리아파트  CS300002
231      20224        D       발달상권  3120222               삼성역  CS300002
232      20224        A       골목상권  3110992            도곡초등학교  CS300002

    서비스_업종_코드_명     당월_매출_금액  당월_매출_건수     주중_매출_금액  ...  대학교_수  백화점_수  \
0           편의점    152968591     19203    109788599  ...    NaN    NaN
1           편의점  15857339315   2210890  13247849536  ...    NaN    NaN
2           편의점    225099761     25735    165237175  ...    NaN    NaN
3           편의점   1246479736    223628    869573349  ...    NaN    NaN
4           편의점   1016999038    147075    732234572  ...    NaN    NaN
..          ...          ...       ...          ...  ...    ...    ...
228         편의점   1736328934    243384   1477788543  ...    NaN    NaN
229         편의점    942285286    133918    707857541  ...    NaN    NaN
230         편의점   2452817379    368214   1922501507  ...    NaN    NaN
231         편의점   4301904657    729619   3625667023  ...    NaN    1.0
232         편의점   1268205875    238826    847122834  ...    NaN    NaN

     슈퍼마켓_수  극장_수  숙박_시설_수  공항_수  철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
0       NaN   NaN      NaN   NaN     NaN       NaN      NaN       NaN
1       NaN   NaN      NaN   NaN     NaN       NaN      NaN       NaN
2       NaN   NaN      NaN   NaN     NaN       NaN      NaN       NaN
3       NaN   NaN      NaN   NaN     NaN       NaN      NaN       NaN
4       NaN   NaN      NaN   NaN     NaN       NaN      NaN       NaN
..      ...   ...      ...   ...     ...       ...      ...       ...
228     NaN   2.0      NaN   NaN     NaN       NaN      NaN       3.0
229     NaN   NaN      NaN   NaN     NaN       NaN      NaN       NaN
230     NaN   NaN      NaN   NaN     NaN       NaN      NaN       9.0
231     NaN   NaN      NaN   NaN     NaN       NaN      1.0      19.0
232     NaN   NaN      NaN   NaN     NaN       NaN      NaN       NaN

[474 rows x 161 columns]