In [8]:
import pandas as pd

# Provide the correct file path and encoding
file_path = 'data/2022년 파일/(추정매출-상권)_2022_편의점.csv'
encoding_type = 'euc-kr'

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path, encoding=encoding_type)

# Do some operations or modifications on the DataFrame if needed

# Save the modified DataFrame to a new CSV file
output_file_path = 'data/2022년 파일/(추정매출-상권)_2022_편의점(인코딩).csv'
data.to_csv(output_file_path, index=False)

# Display a message indicating successful saving
print(f'DataFrame has been successfully saved to {output_file_path}')

DataFrame has been successfully saved to data/2022년 파일/(추정매출-상권)_2022_편의점(인코딩).csv

In [9]:
import pandas as pd

# Provide the correct file path and encoding
file_path = 'data/원본파일/(영역-상권).csv'
encoding_type = 'euc-kr'  # Change to the appropriate encoding if needed

# Read the CSV file into a DataFrame
original_data = pd.read_csv(file_path, encoding=encoding_type)

# Do some operations or modifications on the original DataFrame if needed

# Save the modified DataFrame to a new CSV file
output_original_file_path = 'data/원본파일/(영역-상권)(인코딩).csv'
original_data.to_csv(output_original_file_path, index=False)

# Display a message indicating successful saving
print(f'Original DataFrame has been successfully saved to {output_original_file_path}')

Original DataFrame has been successfully saved to data/원본파일/(영역-상권)(인코딩).csv

In [34]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/2022년 파일/(추정매출-상권)_2022_편의점(인코딩).csv'
file_path2 = 'data/원본파일/(영역-상권)(인코딩).csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20221        D       발달상권  3120032      충무로역  CS300002         편의점
1      20221        D       발달상권  3120021    시청역_8번  CS300002         편의점
2      20221        D       발달상권  3120014     종로5가역  CS300002         편의점
3      20221        D       발달상권  3120028  명동(명동거리)  CS300002         편의점
4      20221        D       발달상권  3120056       구의역  CS300002         편의점

     당월_매출_금액  당월_매출_건수    주중_매출_금액  ...  연령대_40_매출_건수  연령대_50_매출_건수  \
0  2568617603    388871  2053294019  ...         73989         68838
1   589412178    110141   589412178  ...         30336         11441
2  1229403942    189601  1010279193  ...         45487         30258
3  2457027151    442739  1841040086  ...         92724         53621
4  2310296405    342339  1670603879  ...         55386         43559

   연령대_60_이상_매출_건수  엑스좌표_값  와이좌표_값  자치구_코드  자치구_코드_명    행정동_코드  행정동_코드_명  \
0            29859  199553  451319   11140        중구  11140570        필동
1             2282  197724  451359   11140        중구  11140520       소공동
2            12686  200205  452485   11110       종로구  11110630   종로5?6가동
3            20787  198560  451473   11140        중구  11140550        명동
4            21295  207505  448675   11215       광진구  11215850      구의1동

    영역_면적
0  236516
1  132689
2  136026
3  221515
4  158734

[5 rows x 62 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적]
Index: []

[0 rows x 62 columns]

In [35]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data.csv'
file_path2 = 'data/2022년 파일/(길단위인구-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data2.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20221        D       발달상권  3120032      충무로역  CS300002         편의점
1      20221        D       발달상권  3120021    시청역_8번  CS300002         편의점
2      20221        D       발달상권  3120014     종로5가역  CS300002         편의점
3      20221        D       발달상권  3120028  명동(명동거리)  CS300002         편의점
4      20221        D       발달상권  3120056       구의역  CS300002         편의점

     당월_매출_금액  당월_매출_건수    주중_매출_금액  ...  시간대_14_17_유동인구_수  시간대_17_21_유동인구_수  \
0  2568617603    388871  2053294019  ...            294718            289567
1   589412178    110141   589412178  ...             97711             65500
2  1229403942    189601  1010279193  ...            175973            156710
3  2457027151    442739  1841040086  ...            313836            257323
4  2310296405    342339  1670603879  ...            192357            290777

   시간대_21_24_유동인구_수  월요일_유동인구_수  화요일_유동인구_수  수요일_유동인구_수  목요일_유동인구_수  \
0            139565      254280      250749      252343      269894
1             17710       74365       72077       71036       79912
2             66108      137666      137116      136557      145662
3             76323      219839      215265      215678      233388
4            196769      211859      210580      212871      214261

   금요일_유동인구_수  토요일_유동인구_수  일요일_유동인구_수
0      263322      169134      149030
1       75941       25115       19987
2      144642       98503       77153
3      231243      140058      127395
4      216020      209957      199196

[5 rows x 84 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수]
Index: []

[0 rows x 84 columns]

In [36]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data2.csv'
file_path2 = 'data/2022년 파일/(상주인구-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data3.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20221        D       발달상권  3120032      충무로역  CS300002         편의점
1      20221        D       발달상권  3120021    시청역_8번  CS300002         편의점
2      20221        D       발달상권  3120014     종로5가역  CS300002         편의점
3      20221        D       발달상권  3120028  명동(명동거리)  CS300002         편의점
4      20221        D       발달상권  3120056       구의역  CS300002         편의점

     당월_매출_금액  당월_매출_건수    주중_매출_금액  ...  남성연령대_60_이상_상주인구_수  여성연령대_10_상주인구_수  \
0  2568617603    388871  2053294019  ...                 415               66
1   589412178    110141   589412178  ...                  10                0
2  1229403942    189601  1010279193  ...                 157               14
3  2457027151    442739  1841040086  ...                  27                5
4  2310296405    342339  1670603879  ...                 293              115

   여성연령대_20_상주인구_수  여성연령대_30_상주인구_수  여성연령대_40_상주인구_수  여성연령대_50_상주인구_수  \
0              183              126              123              176
1                0                1                1                2
2              155               67               29               63
3                5                4                4                9
4              876              584              274              225

   여성연령대_60_이상_상주인구_수  총_가구_수  아파트_가구_수  비_아파트_가구_수
0                 462    1495         0        1495
1                   5      14         0          14
2                 131     847         0         847
3                  15      85         0          85
4                 333    3114         0        3114

[5 rows x 108 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 108 columns]

In [37]:
# 데이터 개수 3413 => 3396

In [38]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data3.csv'
file_path2 = 'data/2022년 파일/(직장인구-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data4.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20221        D       발달상권  3120032      충무로역  CS300002         편의점
1      20221        D       발달상권  3120021    시청역_8번  CS300002         편의점
2      20221        D       발달상권  3120014     종로5가역  CS300002         편의점
3      20221        D       발달상권  3120028  명동(명동거리)  CS300002         편의점
4      20221        D       발달상권  3120056       구의역  CS300002         편의점

     당월_매출_금액  당월_매출_건수    주중_매출_금액  ...  남성연령대_30_직장_인구_수  남성연령대_40_직장_인구_수  \
0  2568617603    388871  2053294019  ...              1200              1480
1   589412178    110141   589412178  ...              4433              5165
2  1229403942    189601  1010279193  ...               860               851
3  2457027151    442739  1841040086  ...              1955              2310
4  2310296405    342339  1670603879  ...               129               223

   남성연령대_50_직장_인구_수  남성연령대_60_이상_직장_인구_수  여성연령대_10_직장_인구_수  여성연령대_20_직장_인구_수  \
0              1142                  652                20              1009
1              2993                  650                60              2372
2               397                  163               263               667
3              1615                  677                25              1094
4               246                  175                 0               217

   여성연령대_30_직장_인구_수  여성연령대_40_직장_인구_수  여성연령대_50_직장_인구_수  여성연령대_60_이상_직장_인구_수
0              1234              1659              1479                  396
1              3687              1922               491                  252
2               491               354               200                   73
3              1587              1318               591                  393
4               223               287               167                  101

[5 rows x 129 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 129 columns]

In [39]:
# 데이터 갯수 3396 => 3392

In [40]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data4.csv'
file_path2 = 'data/2022년 파일/(소득소비-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data5.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20221        D       발달상권  3120032      충무로역  CS300002         편의점
1      20221        D       발달상권  3120021    시청역_8번  CS300002         편의점
2      20221        D       발달상권  3120014     종로5가역  CS300002         편의점
3      20221        D       발달상권  3120028  명동(명동거리)  CS300002         편의점
4      20221        D       발달상권  3120056       구의역  CS300002         편의점

     당월_매출_금액  당월_매출_건수    주중_매출_금액  ...        지출_총금액   식료품_지출_총금액  \
0  2568617603    388871  2053294019  ...  1.527631e+09  369541350.0
1   589412178    110141   589412178  ...  2.619551e+08   60842932.0
2  1229403942    189601  1010279193  ...  1.192757e+08   30396779.0
3  2457027151    442739  1841040086  ...  1.019955e+08   23884412.0
4  2310296405    342339  1670603879  ...  1.755744e+09  476180458.0

   의류_신발_지출_총금액  생활용품_지출_총금액   의료비_지출_총금액    교통_지출_총금액   여가_지출_총금액  \
0   201468785.0  127452485.0  186027488.0  271623639.0  83176539.0
1    32722830.0   18761659.0   30061358.0   46266340.0  11299272.0
2    14914425.0    9306491.0   14256678.0   19385248.0   4680054.0
3    14417249.0    8340966.0   12350596.0   19353053.0   6742770.0
4   215804963.0  142902174.0  219128381.0  283714143.0  65030586.0

    문화_지출_총금액    교육_지출_총금액   유흥_지출_총금액
0  46063678.0  176888351.0  65389069.0
1   7375102.0   43555218.0  11070367.0
2   3875799.0   17053027.0   5407227.0
3   2919514.0    9496905.0   4490010.0
4  60105709.0  216106252.0  76771027.0

[5 rows x 141 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 141 columns]

In [41]:
import pandas as pd
import chardet

# 파일 인코딩 확인 함수
def get_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# CSV 파일 불러오기 (인코딩 자동 감지)
file_path1 = 'data/merged_data5.csv'
file_path2 = 'data/2022년 파일/(집객시설-상권)_2022.csv'

file_encoding1 = get_encoding(file_path1)
file_encoding2 = get_encoding(file_path2)

data1 = pd.read_csv(file_path1, encoding=file_encoding1)
data2 = pd.read_csv(file_path2, encoding=file_encoding2)

# 두 데이터프레임을 기준 열들을 사용하여 merge
merged_data = pd.merge(data1, data2, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='inner')

# 결과 데이터 확인
print(merged_data.head())

# 중복된 행 확인
duplicates = merged_data[merged_data.duplicated()]

# 중복된 행 출력
print("중복된 행 개수:", len(duplicates))
print("중복된 행 데이터:")
print(duplicates)

# 결과 데이터 저장
output_path = 'data/merged_data_final.csv'
merged_data.to_csv(output_path, index=False)

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드   상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20221        D       발달상권  3120032      충무로역  CS300002         편의점
1      20221        D       발달상권  3120021    시청역_8번  CS300002         편의점
2      20221        D       발달상권  3120014     종로5가역  CS300002         편의점
3      20221        D       발달상권  3120028  명동(명동거리)  CS300002         편의점
4      20221        D       발달상권  3120056       구의역  CS300002         편의점

     당월_매출_금액  당월_매출_건수    주중_매출_금액  ...  대학교_수  백화점_수  슈퍼마켓_수  극장_수  숙박_시설_수  \
0  2568617603    388871  2053294019  ...    NaN    NaN     NaN   3.0      1.0
1   589412178    110141   589412178  ...    NaN    NaN     NaN   NaN      NaN
2  1229403942    189601  1010279193  ...    NaN    NaN     NaN   NaN      2.0
3  2457027151    442739  1841040086  ...    1.0    NaN     NaN   3.0      2.0
4  2310296405    342339  1670603879  ...    NaN    NaN     NaN   NaN      NaN

   공항_수  철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
0   NaN     NaN       NaN      2.0       8.0
1   NaN     NaN       NaN      NaN       6.0
2   NaN     NaN       NaN      NaN       4.0
3   NaN     NaN       NaN      1.0       8.0
4   NaN     NaN       NaN      1.0       7.0

[5 rows x 161 columns]
중복된 행 개수: 0
중복된 행 데이터:
Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 월요일_매출_금액, 화요일_매출_금액, 수요일_매출_금액, 목요일_매출_금액, 금요일_매출_금액, 토요일_매출_금액, 일요일_매출_금액, 시간대_00~06_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 시간대_21~24_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 월요일_매출_건수, 화요일_매출_건수, 수요일_매출_건수, 목요일_매출_건수, 금요일_매출_건수, 토요일_매출_건수, 일요일_매출_건수, 시간대_건수~06_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 시간대_건수~24_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 엑스좌표_값, 와이좌표_값, 자치구_코드, 자치구_코드_명, 행정동_코드, 행정동_코드_명, 영역_면적, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_00_06_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_24_유동인구_수, 월요일_유동인구_수, 화요일_유동인구_수, 수요일_유동인구_수, 목요일_유동인구_수, 금요일_유동인구_수, 토요일_유동인구_수, 일요일_유동인구_수, 총_상주인구_수, 남성_상주인구_수, 여성_상주인구_수, 연령대_10_상주인구_수, 연령대_20_상주인구_수, 연령대_30_상주인구_수, 연령대_40_상주인구_수, 연령대_50_상주인구_수, 연령대_60_이상_상주인구_수, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, ...]
Index: []

[0 rows x 161 columns]

In [42]:
# 데이터 갯수 3392 => 3376